body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
}

header {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    padding: 20px;
}

.button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049; 
}

.breed-list {
    display: grid;
    align-items: center;
    justify-items:start;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

footer {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.breed-item img {
    display: grid;
    align-items: center;
    max-width: 200px; 
    max-height: 200px; 
    border-radius: 50px;

}
.comments {
    margin-bottom: 11px;
    margin-top: 20px;
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
}

.comment-form {
    margin-bottom: 20px;
}

.comment-input {
    width: 50%;
    height: 80px;
    resize:vertical;
    margin-bottom: 10px;
}

.comment {
    border: 10px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position:relative;
}
.comment .actions {
    display:flex;
    justify-content:center;
    margin-top: 10px;
}
.edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
#btn {
align-items:flex-start;
display:flexbox;
justify-content: space-between;

}
